@font-face {
  font-family: 'PT_Sans-Narrow-Web-Regular';
  src: url('../fonts/PT_Sans-Narrow-Web-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'PT_Sans-Narrow-Web-Bold';
  src: url('../fonts/PT_Sans-Narrow-Web-Bold.ttf') format('truetype');
}
body {
  background-color: #444444;
  overflow-y: hidden !important;
  overflow-x: hidden !important;
  font-family: 'PT_Sans-Narrow-Web-Regular';
}
h1 {
  font-family: 'PT_Sans-Narrow-Web-Bold';
  color: #444444;
  font-size: 30px;
  font-style: italic;
  margin: 0;
  text-align: center;
  width: 100%;
  white-space: nowrap;
}
ul {
  padding-left: 20px;
}
hr {
  width: 95%;
}
.page {
  width: 100%;
  margin: auto;
  display: inline-block;
}
.left-panel {
  display: inline-block;
  float: left;
  width: 250px;
  height: 95%;
  background-color: #444444;
}
.left-panel .left-offers {
  float: left;
  height: 100%;
  width: 230px;
  background-color: #ececee;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
}
.left-panel .left-toggle {
  background-color: #444444;
  float: right;
  height: 100%;
  width: 20px;
}
.left-panel .left-toggle #left-toggle-image {
  width: 100%;
  top: 45%;
  height: 80px;
  position: relative;
  background: url('../Images/ToggleArrowLeft.png') no-repeat;
  cursor: pointer;
}
.center-panel {
  display: inline-block;
  vertical-align: top;
  height: 95%;
  margin: auto;
}
.center-panel .center-panel-flip {
  display: block;
  width: 100%;
  height: 95%;
  border-bottom: 1px solid #444444;
}
.center-panel .center-map {
  display: block;
  width: 100%;
  height: 100%;
}
.center-panel .map-selection {
  display: block;
  width: 100%;
  height: 5%;
  background-color: #ececee;
}
.center-panel .map-selection table {
  color: #a05e00;
}
.center-panel .map-locations-list {
  overflow-y: scroll;
  display: none;
  width: 100%;
  height: 100%;
  background-color: #ececee;
}
.right-panel {
  display: inline-block;
  float: right;
  width: 250px;
  height: 95%;
  background-color: #444444;
}
.right-panel .right-content {
  float: right;
  height: 100%;
  width: 230px;
  background-color: #ececee;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.right-panel .right-content .right-content-news {
  width: 100%;
  height: 50%;
  border-top-left-radius: 25px;
  background-color: #ececee;
  border-bottom: 1px solid #444444;
}
.right-panel .right-content .right-content-news #news-list {
  overflow-y: scroll;
  height: 100%;
  list-style-type: none;
  padding-left: 5px;
  margin: 0;
}
.right-panel .right-content .right-content-news #news-list img {
  height: 16px;
}
.right-panel .right-content .right-content-events {
  width: 100%;
  height: 50%;
  border-bottom-left-radius: 25px;
  background-color: #ececee;
}
.right-panel .right-content .right-content-events #events-list {
  overflow-y: scroll;
  height: 100%;
  list-style-type: none;
  padding-left: 5px;
  margin: 0;
}
.right-panel .right-toggle {
  background-color: #444444;
  float: left;
  height: 100%;
  width: 20px;
}
.right-panel .right-toggle #right-toggle-image {
  width: 100%;
  top: 45%;
  height: 80px;
  position: relative;
  background: url('../Images/ToggleArrowRight.png') no-repeat;
  cursor: pointer;
}
/*# sourceMappingURL=Page.css.map */