.page{
    width:99%;
    margin:auto;
    display:inline-block;
    height:900px;
}

.left-offers{
    float:left;
    display:inline-block;
    width:15%;
    height:100%;
}

.center-map{
    border-right:1px solid black;
    border-left:1px solid black;
    display:inline-block;
    width:69%;
    height:100%;
}

.right-content{
    float:right;
    display:inline-block;
    width:15%;
    height:100%;
    
    .right-content-news{
    }
    .right-content-events{
    }
}