@panelBackground: #ECECEE;
@pageBackground: #444444;
@darkOJ: #a05e00;
@buttonBackgroundGrey: #999999;
@borderRadius: 25px;

@font-face {
    font-family: 'PT_Sans-Narrow-Web-Regular';
    src: url('../fonts/PT_Sans-Narrow-Web-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'PT_Sans-Narrow-Web-Bold';
    src: url('../fonts/PT_Sans-Narrow-Web-Bold.ttf') format('truetype');
}

body {
    background-color:@pageBackground;
    overflow-y: hidden !important;
    overflow-x: auto !important;
    font-family: 'PT_Sans-Narrow-Web-Regular';
}

h1{
    font-family: 'PT_Sans-Narrow-Web-Bold';
    color:@pageBackground;
    font-size:30px;
    font-style:italic;
    margin:0;
    text-align:center;
    width:100%;
    white-space:nowrap;
}

ul{
    padding-left:20px;
}

.page{
    width:100%;
    margin:auto;
    display:inline-block;
    height:900px;
}

.left-panel{
    display:inline-block;
    float:left;
    width:250px;
    height:100%;
    background-color:@pageBackground;
    .left-offers{
        float:left;
        height:100%;
        width:230px;
        background-color:@panelBackground;
        border-bottom-right-radius: @borderRadius;
        border-top-right-radius: @borderRadius;
    }
    .left-toggle{
        background-color:@pageBackground;
        float:right;
        height:100%;
        width:20px;
        #left-toggle-image{
            width:100%;
            top:45%;
            height:80px;
            position:relative;
            background:url('../Images/ToggleArrowLeft.png') no-repeat;
            cursor:pointer;
        }
    }
}

.center-panel{
    display:inline-block;
    vertical-align:top;
    height:100%;
    margin:auto;

    .center-panel-flip{
        display:block;
        width:100%;
        height:95%;
        border-bottom:1px solid @pageBackground;
    }
    .center-map{
        display:block;
        width:100%;
        height:100%;
    }
    .map-selection{
        display:block;
        width:100%;
        height:5%;
        background-color:@panelBackground;
        table{
            color:@darkOJ;
        }
    }

    .map-locations-list{
        display:none;
        width:100%;
        height:100%;
        background-color:@panelBackground;
    }
}

.right-panel{
    display:inline-block;
    float:right;
    width:250px; 
    height:100%;
    background-color:@pageBackground;
    .right-content{
        float:right;
        height:100%;
        width:230px;
        background-color:@panelBackground;
        border-top-left-radius: @borderRadius;
        border-bottom-left-radius: @borderRadius;
        .right-content-news{
            width:100%;
            height:50%;
            border-top-left-radius: @borderRadius;
            background-color:@panelBackground;
            border-bottom:1px solid @pageBackground;
        }
        .right-content-events{
            width:100%;
            height:50%;
            border-bottom-left-radius: @borderRadius;
            background-color:@panelBackground;
        }
    }
    .right-toggle{
        background-color:@pageBackground;
        float:left;
        height:100%;
        width:20px;
        #right-toggle-image{
            width:100%;
            top:45%;
            height:80px;
            position:relative;
            background:url('../Images/ToggleArrowRight.png') no-repeat;
            cursor:pointer;
        }
    }   
}