@{
    ViewBag.Title = "Home Page";
}

<div class="left-panel">
    <div class="left-offers">
        Local Resturants/bar offers
    </div>
    <div class="left-toggle">
        <button onclick="LeftPanel.toggle();"></button>
    </div>
</div>
<div id="map-canvas" class="center-map">
</div>
<div class="right-panel">
    <div class="right-toggle">
        <button onclick="RightPanel.toggle();"></button>
    </div>
    <div class="right-content">
        <div class="right-content-news">
            news
        </div>
        <div class="right-content-events">
            upcoming local events
        </div>
    </div>
</div>

