@{
    ViewBag.Title = "Manasquan Live";
}

<div class="left-panel">
    <div class="left-offers">
        <h1><u>Local Offers</u></h1>
        <ul>
            <li>Need to get Local Offers</li>
            <li>Make this section scrollable?</li>
        </ul>
    </div>
    <div class="left-toggle">
        <div id="left-toggle-image" onclick="LeftPanel.toggle();"></div>
    </div>
</div>
<div class="center-panel">
    <div class="center-panel-flip">
        <div id="map-canvas" class="center-map">
        </div>
        <div class="map-locations-list">
        </div>
    </div>
    <div class="map-selection">
        Map Filters:
        <p style="float:right;cursor:pointer;" onclick="Maps.flipCenterPanel()">List of locations</p>
        <table>
            <tr>
                <td>
                    Item 1<input type="checkbox" />
                </td>
                <td>
                    Item 2<input type="checkbox" />
                </td>
                <td>
                    Item 3<input type="checkbox" />
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="right-panel">
    <div class="right-toggle">
        <div id="right-toggle-image" onclick="RightPanel.toggle();"></div>
    </div>
    <div class="right-content">
        <div class="right-content-news">
            <h1><u>Manasquan News</u></h1>
            <ul id="news-list"></ul>
        </div>
        <div class="right-content-events">
            <h1><u>Manasquan Events</u></h1>
            <ul>
                <li>Need to get Events</li>
                <li>Import from Manasquan Chamber of commerce?....testing out length</li>
                <li>Make this section scrollable?</li>
            </ul>
        </div>
    </div>
</div>

